In [17]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score

In [6]:
ans = pd.DataFrame(np.load('./label_pred_task1_given.npy'))
pred = pd.DataFrame(np.load('./label_pred_task1.npy'))
ans2 = pd.DataFrame(np.load('./label_pred_task2_given.npy'))
pred2 = pd.DataFrame(np.load('./label_pred_task2.npy'))

# task1_label = pd.read

In [13]:
pred

       0
0    0.0
1    1.0
2    0.0
3    0.0
4    1.0
..   ...
115  2.0
116  1.0
117  2.0
118  2.0
119  2.0

[120 rows x 1 columns]

In [7]:
ans

     0
0    0
1    0
2    0
3    0
4    0
..  ..
115  2
116  2
117  2
118  2
119  2

[120 rows x 1 columns]

In [12]:
pred2

       0
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
..   ...
115  2.0
116  2.0
117  2.0
118  2.0
119  1.0

[120 rows x 1 columns]

In [18]:
accuracy_score(ans, pred)

0.725

In [19]:
accuracy_score(ans2, pred2)

0.7